* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box h1 {
  font-weight: bold;
  text-align: center;
}

.box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box form input {
  margin-top: 1.5rem;
  width: 25rem;
  height: 2.5rem;
  padding-left: 0.5rem;
}